*{padding:0px;
    margin: 0px;
    box-sizing: border-box;}


.barrsup{display: flex;
        justify-content:flex-end;
        text-decoration: none;
        background-color: black;
   
    }
.contacto{display: flex;
          color: rgba(14,214,64,1);
          border-style:hidden;
          background-color: black;
          text-decoration-line: none;
          padding-right:20px ;
          }

                 
header {
      background-image:url("proyecto assets/raveitCEL.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
       height: 250px;
    }
.foot{background-color: black;
      color: white;}    
    
/*index*/

.barra{display: flex;
      justify-content: space-around;
      align-items: center;
      color:white;
      background-color: black;
      padding-bottom: 10px;
      padding-top: 5px;
      height:35px ;
               }
              
#eventossel{font-weight: bold;
           color:white;
           background-color: black;
           border-style: none;}
          .barra select{height: 30px;}
          .barra span{display: none;}
          .filtros{height: 20px;}
          .barra label{padding-top: 1px;}
        
#Generosel{background-color: black;
          color:rgba(14,214,64,1);
          border-style:none;
                }
#Lugarsel{background-color: black;
          color:rgba(14,214,64,1);
          border-style:none;
                }
 
main{height:100vh;
     background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(14,214,64,1) 50%, rgba(0,0,0,1) 95%);}
   
.contenedor{overflow: scroll;
            overflow: auto;
            height: 100vh;
            position:relative;
            z-index: 10;
            background-color: rgba(0,0,0,.1);
            gap: 2px;
              }
 
.event {display: grid; 
        grid-template-areas:"img title"
                            "img etext" ;
                                                
        grid-template-columns:90px 250px ;
        grid-template-rows: 44px 92px;
        height: 145px;
        border:inset;
        border-color:dimgrey;
        border-width: 1px;
                            
        }
                          
.eflayer{grid-area: img;
        padding-top: 2px;}
                          
.etitle{grid-area: title;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family:'Jazz LET';
        font-size: 20px;
        text-decoration:none;
        text-decoration-line: none;
        color: white;
        text-shadow: rgba(14,214,64,1) 0px 0px 5px,rgba(14,214,64,1) 0px 0px 10px,rgba(14,214,64,1) 0px 0px 15px, rgba(14,214,64,1) 0px 0px 20px, rgba(14,214,64,1) 0px 0px 30px,rgba(14,214,64,1) 0px 0px 40px, rgba(14,214,64,1) 0px 0px 50px, rgba(14,214,64,1) 0px 0px 75px;
                                }
                                  
.etext{ grid-area: etext;
      display:flex;
      flex-direction:column;
      padding-left:10px ;
      font-family: 'Trebuchet MS',  sans-serif;
      color: white;
      font-size:16px; ;
      gap: 4px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: clip;}
  

/*evento*/
.barrape{height:35px;
        color:rgba(14,214,64,1);
        background-color: black;
        padding-bottom: 10px;
        padding-top: 5px;
        display: flex;
        justify-content:space-around ;
              }
.barrape button{background-color: black;
                color:rgba(14,214,64,1);
                } 
.mainevento{height: 510px;
      background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(14,214,64,1) 50%, rgba(0,0,0,1) 95%);}
                                                            
.pecontenedor{display:flex;
              flex-wrap:wrap ;
              align-content: flex-start;
              justify-content: space-around;
              align-items: center;
              overflow: scroll;
              overflow: auto;
              height: 500px;
              position:relative;
              z-index: 10;
              background-color: rgba(0,0,0,.1);
              gap: 2px;
              color: white;
              padding-top: 10px;     }
 
.petitle{display: flex;
      justify-content: center;
      align-items: center;
      font-family:'Jazz LET';
      font-size: 20px;
      text-decoration:none;
      text-decoration-line: none;
      color: white;
      text-shadow: rgba(14,214,64,1) 0px 0px 5px,rgba(14,214,64,1) 0px 0px 10px,rgba(14,214,64,1) 0px 0px 15px, rgba(14,214,64,1) 0px 0px 20px, rgba(14,214,64,1) 0px 0px 30px,rgba(14,214,64,1) 0px 0px 40px, rgba(14,214,64,1) 0px 0px 50px, rgba(14,214,64,1) 0px 0px 75px;
                              }             

ul{list-style-type:none;}
                      
/*main */ 

.mainimg{background-image:url("proyecto assets/raveitHD.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height:600PX;
  display:flex; 
  justify-content: space-around;
}

.aboutmain{height: 40vh;
      color:white;
      background-color: black;
      padding-top: 12px;
            
            
        }
#about{ flex-direction: row;
            text-align:center;
            height: 100%;
            font-size :13px; 
                
                
            }
                
      
                    
                
                   