*{padding:0px;
    margin: 0px;
    box-sizing: border-box;}


.barrasup{display: flex;
        justify-content:flex-end;
        text-decoration: none;
        background-color: black;
        border-color:rgba(14,214,64,1);
        border-style:ridge;
        border-left:none ;
        border-right:none ;
        border-top: none;  
        border-width: 1px;}

.barrasup button{background-color: black;
            color:rgba(14,214,64,1);
            border-style: inherit;}        
   
  
.home{text-decoration-line: none;
        padding-right:20px ;
          }

                 
header {
      background-image:url("raveitCEL.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
       height: 250px;
    }
aside{display:none;}

.foot{background-color: black;
      color: white;
    text-align: center;
    height: 65px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-color:rgba(14,214,64,1);
    border-style:ridge;
    border-left:none ;
    border-right:none ;
    border-bottom: none;  
    border-width: 1px;} 

.copyr{font-size: 10px;
    }    

@media (min-width:1260px ) {

.barrasup{height: 25px;}

header{background-image:url("raveitHD.png");
         height: 550px;}

.copyr{font-size: 15px; }
  }

                    


                
                
            
                
      
                    
                
                   